.new-tweet {

  width: 100%;
}

#tweet-text {
  width: 100%;
  height: 1em;
  outline: none;
  resize: none;
  white-space: nowrap;
  /* overflow-x: scroll; */
  border: none;
  border-bottom: 3px solid black;
  /* background-color: #96a7fa; */
  background-color: #96a7fa;
  background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");


}

.form_footer {
  font-family: 'Bungee', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_button {
  color: white;
  background-color: #4056A1;
}